{% extends 'main.html' %}
{% block content %}
<main class="auth layout">
      <div class="container">
        <div class="layout__box" >
          <div class="layout__boxHeader">
            <div class="layout__boxTitle">
              <h3>Login</h3>
            </div>
          </div>
          {% if validlink %}
          <div class="layout__body">
            <h2 class="auth__tagline">Change password for @{{ form.user.username }}</h2>
            <form class="form" action="" method="POST">
              {% csrf_token %}
              {% for field in form %}
                    <div class="form__group form__group">
                        <label>{{field.label}}</label>
                        {{field}}
                    </div>
              {% endfor %}
              <button class="btn btn--main" type="submit">
                Send password reset mail
              </button>
            </form>
          </div>
          {% else %}
          <div class="layout__body">
            <h3 class="card-title">Reset your password</h3>
            <div class="alert alert-danger" role="alert">
              It looks like you clicked on an invalid password reset link. Please try again.
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Request a new password reset link</a>
            </div>
          {% endif %}
        </div>
      </div>
    </main>
{% endblock %}