{% extends 'main.html' %}
{% block content %}
    <main class="auth layout">
      <div class="container">
        <div class="layout__box" >
          <div class="layout__boxHeader">
            <div class="layout__boxTitle">
              <h3>Login</h3>
            </div>
          </div>
          <div class="layout__body">
            <h2 class="auth__tagline">Find your study partner</h2>
            <p>Enter your email address and we will send you a link to reset your password.</p>
            <form class="form" action="" method="POST">
              {% csrf_token %}
              {% for field in form %}
                    <div class="form__group form__group">
                        <label>{{field.label}}</label>
                        {{field}}
                    </div>
              {% endfor %}
              <button class="btn btn--main" type="submit" >
                Send password reset mail
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>
{% endblock %}